@use "@chassis-ui/css/scss/config/vendor" as *;
@use "@chassis-ui/css/scss/tokens" as *;
@use "@chassis-ui/css/scss/config/defaults" as *;

// stylelint-disable
:export {
  baseFontSize: $font-size-root;
  // Colors
  colorPrimary: $primary;
  colorSecondary: $secondary;
  colorNeutral: $neutral;
  colorDanger: $danger;
  colorSuccess: $success;
  colorWarning: $warning;
  colorInfo: $info;
  // Spacing
  spaceZero: $space-zero;
  space4xsmall: $space-4xsmall;
  space3xsmall: $space-3xsmall;
  space2xsmall: $space-2xsmall;
  spaceXsmall: $space-xsmall;
  spaceSmall: $space-small;
  spaceMedium: $space-medium;
  spaceLarge: $space-large;
  spaceXlarge: $space-xlarge;
  space2xlarge: $space-2xlarge;
  space3xlarge: $space-3xlarge;
  space4xlarge: $space-4xlarge;
  space5xlarge: $space-5xlarge;
  space6xlarge: $space-6xlarge;
  // Breakpoints
  breakpoint2xlarge: $breakpoint-2xlarge;
  breakpointXlarge: $breakpoint-xlarge;
  breakpointLarge: $breakpoint-large;
  breakpointMedium: $breakpoint-medium;
  breakpointSmall: $breakpoint-small;
  // Containers
  container2xlarge: $container-2xlarge;
  containerXlarge: $container-xlarge;
  containerLarge: $container-large;
  containerMedium: $container-medium;
  containerSmall: $container-small;
  // Grid
  gridGutter: $grid-gutter-x;
  // Modal
  modalSmall: $modal-small-width;
  modalMedium: $modal-medium-width;
  modalLarge: $modal-large-width;
  modalXlarge: $modal-xlarge-width;

}
// stylelint-enable
