@use "@chassis-ui/css/scss/config/vendor" as *;
@use "@chassis-ui/css/scss/tokens" as *;
@use "@chassis-ui/css/scss/config/defaults" as *;

// stylelint-disable
:export {
  baseFontSize: $font-size-root;
  // Colors
  colorPrimary: $primary;
  colorSecondary: $secondary;
  colorNeutral: $neutral;
  colorDanger: $danger;
  colorSuccess: $success;
  colorWarning: $warning;
  colorInfo: $info;
  // Spacing
  spaceZero: $space-zero;
  space4xs: $space-4xs;
  space3xs: $space-3xs;
  space2xs: $space-2xs;
  spaceXsm: $space-xs;
  spaceSmall: $space-sm;
  spaceMedium: $space-md;
  spaceLarge: $space-lg;
  spaceXlg: $space-xl;
  space2xl: $space-2xl;
  space3xl: $space-3xl;
  space4xl: $space-4xl;
  space5xl: $space-5xl;
  space6xl: $space-6xl;
  // Breakpoints
  breakpoint2xl: $breakpoint-2xl;
  breakpointXlg: $breakpoint-xl;
  breakpointLarge: $breakpoint-lg;
  breakpointMedium: $breakpoint-md;
  breakpointSmall: $breakpoint-sm;
  // Containers
  container2xl: $container-2xl;
  containerXlg: $container-xl;
  containerLarge: $container-lg;
  containerMedium: $container-md;
  containerSmall: $container-sm;
  // Grid
  gridGutter: $grid-gutter-x;
  // Modal
  modalSmall: $modal-sm-width;
  modalMedium: $modal-md-width;
  modalLarge: $modal-lg-width;
  modalXlg: $modal-xl-width;

}
// stylelint-enable
